<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All sightings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All sightings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Last week - {{sightingsWeek.length}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let sight1 of sightingsWeek">
          <ion-thumbnail slot="start">
            <img alt="A photo" [src]="sight1.photo" />
          </ion-thumbnail>
          <ion-label>{{ sight1!.date | date:'HH:mm dd/MM/yyyy' }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>  
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>All time - {{sightingsAll.length}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item *ngFor="let sight2 of sightingsAll">
        <ion-thumbnail slot="start">
          <img alt="A photo" [src]="sight2.photo" />
        </ion-thumbnail>
        <ion-label>{{ sight2!.date | date:'HH:mm dd/MM/yyyy' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
